<%- include("partials/header") %>

<section class="contact-page">

    <h1>Contact Us</h1>

    <p>
        We'd love to hear from you!
    </p>

    <div class="contact-info">

        <p>
            📧 Email:
            yzthrift1@gmail.com
        </p>

        <p>
            📞 Phone:
            +91 7051593879
        </p>

        <p>
            📍 Address:
            Ground Floor, Main Market, Sopore, Tarzoo,
Baramulla, Jammu & Kashmir – 193202
        </p>

    </div>

</section>

<%- include("partials/footer") %>