<%- include("partials/header") %>

<section class="auth-page">

    <div class="auth-container">

        <h1>Create Account</h1>

        <form action="/register" method="POST">

    <input
        type="text"
        name="name"
        placeholder="Enter Name"
        required
    >

    <input
        type="email"
        name="email"
        placeholder="Enter Email"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
    >

    <button type="submit">
        Register
    </button>

</form>
        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</section>

<%- include("partials/footer") %>